In [1]:
import pandas as pd

In [2]:
ctx_detallado = pd.read_csv('../data/processed/ctx_detallado.csv')

In [3]:
ctx_detallado

            ctx_i ctx_d          class
0              el     ,       ATRIBUTO
1               ,     y       ATRIBUTO
2               y    de       ATRIBUTO
3              se   los       ATRIBUTO
4           nacen   del             !=
..            ...   ...            ...
420            de     .          VALOR
421           los    de       ATRIBUTO
422           del     .          VALOR
423  instructores  Comp              =
424             .     ?  ATR_CONDICION

[425 rows x 3 columns]

In [4]:
ctx_filtrado = ctx_detallado.loc[(ctx_detallado['class'] == 'ATR_CONDICION') | (ctx_detallado['class'] == 'VALOR')]

In [5]:
ctx_filtrado.to_csv('../data/processed/ctx_detallado_filtered.csv', index=False)